#content_div{
   	position:absolute;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		text-align:center
  }
  
  .upload_dialog_div{
  position:fixed;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	overflow:auto; 
	visibility:hidden;
	background-color: rgba(60,60,60,0.5);
	z-index:99;
  }
  .style_content_div{
  position:relative;
  margin:auto;
  margin-top:160px;
	width:400px;
	height:160px;
	background:#F5F5DC;
  }
  .style_content_upper_div{
  position:absolute;
  left:0px;
  top:0px;
	width:400px;
	height:100px;
	background:#F5F5DC;
  }
  .style_content_lower_div{
  position:absolute;
  left:0px;
  top:100px;
	width:400px;
	height:60px;
	background:#F5FFDC;
  }
  
  .style_content_file_div{
  position:absolute;
  left:15px;
  top:20px;
	width:380px;
	height:60px;
  }
  .style_file_span{
	  float:left;
	  width:120px;
	  height:36px;
	  font-size:24px;
	  text-align:right;
  }
  .style_file_content{
	  margin-top:5px;
  }
  .style_content_prog_div{
  position:absolute;
  left:18px;
  top:57px;
	width:360px;
	height:40px;
  }
  .style_prog_span_hit{
	  color:#ff0000;
  }
  .style_prog_content{
	  width:360px;
	  visibility:hidden;
  }
  .style_content_span{
  width:200px;
	height:60px;
	line-height:60px;
	display:inline-block;
	float:left;
	font-size:32px;
	text-align:center;
	cursor: pointer;
  }
 
  .style_copyright_a{
	text-decoration:none;
	color:#cc00cc;
  }